{% extends "base.html" %}

{% block title %}{{ creation.name }} - EPStudio{% endblock %}

{% block content %}
<div class="container text-center">
    <img src="{{ creation.photo_path }}" class="img-fluid" alt="{{ creation.name }}">
    <h2>{{ creation.name }}</h2>
    <p>{{ creation.caption }}</p>
    <p>Created by: <a href="{{ url_for('user_profile', user_id=creator.id) }}"> {{ creator.first_name }} {{ creator.last_name }}</a></p>
    <p>{{creation.creation_date|ordinal}}</p>
</div>
{% endblock %}