{% extends "base.html" %}

{% block title %}Home - EPStudio{% endblock %}

{% block content %}
<!-- <div class="index-hero">
    <h1>Welcome to EPStudio</h1>
    <p>Your platform to showcase and explore student creations.</p>
    <a href="{{ url_for('list_users') }}" class="button">Explore Users</a>
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('user_profile', user_id=current_user.id) }}" class="button">View My Profile</a>
    {% else %}
        Please Login
    {% endif %}
</div>

<div class="recent-creations">
    <h2>Recent Creations</h2>
    <ul>
        {% for creation in recent_creations %}
        <li>
            <strong>{{ creation.name }}</strong> by {{ creation.user.first_name }} {{ creation.user.last_name }}
            <p>{{ creation.caption }}</p>
        </li>
        {% endfor %}
    </ul>
</div> -->
<p>Number of creations: {{ recent_creations|length }}</p>

<div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        {% for creation in recent_creations %}
            <div class="col">
                <div class="card img-container">
                    <img src="/static/example.png" class="card-img-top gal-img" alt="...">
                    <div class="card-body">
                        <p class="star-icon">☆</p> 
                        <p class="card-text">Creation Name</p>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


    <!-- <div class="row justify-content-center g-10">
        <div class="col-md-auto">
            <div class="card img-container" style="width: 25rem;">
                
                <img src="/static/example.png" class="card-img-top gal-img" alt="..." href="#">
                <div class="card-body">
                    <input type="checkbox" class="toggle-checkbox" id="toggle1">
                    <label for="toggle1">
                    <i class="star-icon toggle-icon">
                        <span class="original-text">☆</span>
                        <span class="new-text">★</span>
                    </i>
                </label>
                    <p class="card-text">(Work Title), (Creator Name)</p>
                </div>

            </div>
        </div>
        <div class="col-md-auto">
            <div class="card img-container" style="width: 25rem;">
                
                <img src="/static/example.png" class="card-img-top gal-img" alt="..." href="#">
                <div class="card-body">
                    <input type="checkbox" class="toggle-checkbox" id="toggle2">
                    <label for="toggle2">
                    <i class="star-icon toggle-icon">
                        <span class="original-text">☆</span>
                        <span class="new-text">★</span>
                    </i>
                    </label>

                    <p class="card-text">(Work Title), (Creator Name)</p>
                </div>

            </div>
        </div>
        <div class="col-md-auto">
            <div class="card img-container" style="width: 25rem;">
                
                <img src="/static/example.png" class="card-img-top gal-img" alt="..." href="#">
                <div class="card-body">
                    <input type="checkbox" class="toggle-checkbox" id="toggle3">
                    <label for="toggle3">
                    <i class="star-icon toggle-icon">
                        <span class="original-text">☆</span>
                        <span class="new-text">★</span>
                    </i>
                </label>
                    <p class="card-text">(Work Title), (Creator Name)</p>
                </div>

            </div>
        </div>
    </div>

    <div class="row justify-content-center g-10 mt-3">
        <div class="col-md-auto">
            <div class="card img-container" style="width: 25rem;">
                
                <img src="/static/example.png" class="card-img-top gal-img" alt="..." href="#">
                <div class="card-body">
                    <input type="checkbox" class="toggle-checkbox" id="toggle4">
                    <label for="toggle4">
                    <i class="star-icon toggle-icon">
                        <span class="original-text">☆</span>
                        <span class="new-text">★</span>
                    </i>
                </label>
                    <p class="card-text">(Work Title), (Creator Name)</p>
                </div>

            </div>
        </div>
        <div class="col-md-auto">
            <div class="card img-container" style="width: 25rem;">
                
                <img src="/static/example.png" class="card-img-top gal-img" alt="..." href="#">
                <div class="card-body">
                    <input type="checkbox" class="toggle-checkbox" id="toggle5">
                    <label for="toggle5">
                    <i class="star-icon toggle-icon">
                        <span class="original-text">☆</span>
                        <span class="new-text">★</span>
                    </i>
                </label>
                    <p class="card-text">(Work Title), (Creator Name)</p>
                </div>

            </div>
        </div>
        <div class="col-md-auto">
            <div class="card img-container" style="width: 25rem;">
                
                <img src="/static/example.png" class="card-img-top gal-img" alt="..." href="#">
                <div class="card-body">
                    <input type="checkbox" class="toggle-checkbox" id="toggle6">
                    <label for="toggle6">
                    <i class="star-icon toggle-icon">
                        <span class="original-text">☆</span>
                        <span class="new-text">★</span>
                    </i>
                </label>
                    <p class="card-text">(Work Title), (Creator Name)</p>
                </div>

            </div>
        </div>
    </div>

    <div class="row justify-content-center g-10 mt-3">
        <div class="col-md-auto">
            <div class="card img-container" style="width: 25rem;">
                
                <img src="/static/example.png" class="card-img-top gal-img" alt="..." href="#">                 
                <div class="card-body">
                    <input type="checkbox" class="toggle-checkbox" id="toggle7">
                    <label for="toggle7">
                    <i class="star-icon toggle-icon">
                        <span class="original-text">☆</span>
                        <span class="new-text">★</span>
                    </i>
                </label>
                    <p class="card-text">(Work Title), (Creator Name)</p>
                </div>

            </div>
        </div>
    
        <div class="col-md-auto">
            <div class="card img-container" style="width: 25rem;">
                
                <img src="/static/example.png" class="card-img-top gal-img" alt="..." href="#">
                <div class="card-body">
                    <input type="checkbox" class="toggle-checkbox" id="toggle8">
                    <label for="toggle8">
                    <i class="star-icon toggle-icon">
                        <span class="original-text">☆</span>
                        <span class="new-text">★</span>
                    </i>
                </label>
                    <p class="card-text">(Work Title), (Creator Name)</p>
                </div>

            </div>
        </div>
        <div class="col-md-auto">
            <div class="card img-container" style="width: 25rem;">
                
                <img src="/static/example.png" class="card-img-top gal-img" alt="..." href="#">
                <div class="card-body">
                    <input type="checkbox" class="toggle-checkbox" id="toggle9">
                    <label for="toggle9">
                    <i class="star-icon toggle-icon">
                        <span class="original-text">☆</span>
                        <span class="new-text">★</span>
                    </i>
                </label>
                    <p class="card-text">(Work Title), (Creator Name)</p>
                </div>

            </div>
        </div>
    </div> -->
</div>

<!-- Button and Modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Launch demo modal</button> -->

<div class="modal fade target1" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-custom">
        <div class="modal-content" style="border-radius: 37px; border: dashed 3px #545454;">
            <!-- <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Upload </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div> -->
        <div class="modal-body" style="margin-top: 2%;"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="margin-left: 95%;"></button></div>
        <div class="modal-body" style="margin-bottom: 15%;margin-top: 7%;">
            <img src="/static/upload_pic.png" alt="..." href="#" style="width: 60%;" class="center-image" onclick="ImgUpload()">
            <!-- <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg"></input> -->

            <p style="text-align: center;">Choose a file or drag <br>and drop it here</p>
            <!-- <button type="button" id="webcamButton" class="btn-primary" style="border: solid; border-radius: 5px; border-color: #002B61; background-color: white; margin-left: 42%; padding: 2%;"><i class="fa-solid fa-camera"></i>   Use Webcam</button>   -->


        
        </div>
        <!-- <div class="modal-body">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
 
      </div>
    </div>
  </div>
  

  <div class="modal fade target2" id="afterUploadModal" tabindex="-1" aria-labelledby="afterUploadModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-custom">
        <div class="modal-content" style="border-radius: 37px; border: dashed 3px #545454;">
            <!-- <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Upload </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></butt
        </div> -->
        <div class="modal-body" style="margin-top: 2%;"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="margin-left: 95%;"></button></div>
        <div class="modal-body" style="margin-bottom: 15%;margin-top: 7%;">
            <!-- <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg"></input> -->
            <!-- <button type="button" id="webcamButton" class="btn-primary" style="border: solid; border-radius: 5px; border-color: #002B61; background-color: white; margin-left: 42%; padding: 2%;"><i class="fa-solid fa-camera"></i>   Use Webcam</button>   -->
            <img class="modular-img">
            <form>
                <!-- {image ? <img src={image} className="image" alt="preview" /> : null}        -->
                         <!-- <input type="text" > -->
                <img id="blah">
            </form>
        
        </div>
        <!-- <div class="modal-body">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
 
      </div>
    </div>
  </div>
  


{% endblock %}
